//Main
package smsystem1.pkg0;
import java.io.*;
import java.util.*;

/**
 * Instance created when called by UI. UI passes location of file
 * Instance reads file, and creates necessary post, reply objects etc, 
 * confirms when data loaded
 * 
 */
public class SMSystem10 
    {
    public SMSystem10()
    {
  
    }
    /**
     * @param args the command line arguments
     * 
     */
    public static void main(String[] args) 
    {
    //Constructor
    SMSystem10 smSystem = new SMSystem10();    
        
    // call up GUI
    GUI gui = new GUI();
    gui.setVisible(true);
       
    }
   
    public String postRef;
    public String convRef;
    public String replyPost;
    public String dateTime;
    public String postText;
    public String poster;
    public String agentName;
    public String postTags;
    

        // File Chooser passes file
    public boolean importFile(String aFile) throws FileNotFoundException
    {
        // buffered csv reader
        Scanner bufferedScanner = new Scanner(new BufferedReader(new FileReader(aFile)));
        String line;
        while (bufferedScanner.hasNext())
            {
            String data = bufferedScanner.next();
            String[] values = data.split("Insert regular expression");
            
            postRef = values[0];
            convRef = values[1];
            replyPost = values[2];
            replyPost = values[3];
            //finish reg exp to split each line, add rest of variables and call constructors, create list for each class
            }
      
        
        
        return true;
    }
        
        //call everything else
       
    
}


// Customer

package smsystem1.pkg0;

/**
 *
 * @author d4ni3l
 */
public class Customer 
{

    /**
     *
     */
    public String userName;

    public Customer(String aString) 
    {
        this.userName = aString ;
    }
    
}

//Agent

package smsystem1.pkg0;

/**
 *
 * @author d4ni3l
 */
public class Agent 
{

    /**
     *
     */
    public String agentName;

    public Agent(String aString) 
    {
        this.agentName = aString ;
    }
    
}

//Conversation

package smsystem1.pkg0;

/**
 *
 * @author d4ni3l
 */
public class Conversation 
{

    /**
     *
     */
    public int convRef;

    public Conversation(int anInt) 
    {
        this.convRef = anInt ;
    }
    
}

//Customer Post

package smsystem1.pkg0;
import java.text.SimpleDateFormat;

/**
 *
 * @author d4ni3l
 */
public class CustomerPost 
{
     /**
     *
     */
    public SimpleDateFormat dateTime;
    public String message;
    public int postRef;
    public Conversation postConv;
    

    public CustomerPost(SimpleDateFormat aDate,String aMessage, int aRef, Conversation aConv) 
    {
        this.dateTime = aDate ;
        this.message = aMessage;
        this.postRef = aRef;
        this.postConv = aConv;
    }
}

//Reply

package smsystem1.pkg0;

/**
 *
 * @author d4ni3l
 */
public class Reply 
{
     /**
     *
     */
    public int postRef;
    public int replyRef;
    public Conversation replyConv;

    public Reply(int aInt, int bInt,Conversation aConv) 
    {
        this.postRef = aInt ;
        this.replyRef = bInt;
        this.replyConv = aConv;
    }
    
}

//PostCount

package smsystem1.pkg0;

import java.util.Date;

/**
 *
 * @author d4ni3l
 */
public class PostCount 
{
     /**
     *
     */
    public Date startDate;
    public Date endDate;

    public PostCount(Date aDate, Date bDate) 
    {
        this.startDate = aDate ;
        this.endDate = bDate;
    }
}

//Conversation Count

package smsystem1.pkg0;

/**
 *
 * @author d4ni3l
 */
import java.util.Date;

/**
 *
 * @author d4ni3l
 */
public class ConversationCount
{
     /**
     *
     */
    public Date startDate;
    public Date endDate;

    public ConversationCount(Date aDate, Date bDate) 
    {
        this.startDate = aDate ;
        this.endDate = bDate;
    }
}
